/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18 апр. 2020 г., 17:07:02
    Author     : igorb
*/

body{
    /*margin-top: 40px;*/
}

.bottom-buttons{
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0 40px 0;
}

.question-edit-container{
    border: 2px solid #ced4da;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.question-edit-title-container{
    display: flex;
    justify-content: space-between;
}
.delete-answer{
    margin: 10px 0px 10px 10px;
    color: #dc3545;
    cursor: pointer;
}
.add-question-btn{
    margin: 0 0 0 calc(50% - 96px);
}
.add-answer-btn{
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
}
.question-main-buttons-container{
    display: flex;
    justify-content: flex-end;
}

.disabled-container {
    pointer-events: none;
    opacity: 0.4;
}
.questions-container{

}

.question-buttons-container {
    display: flex;
    justify-content: space-between;
}

.t-answer-item{
    display: flex;
    padding: 10px;
    border: 1px solid blue;
    margin-bottom: 5px;
    align-items: center;
    font-size: 22px;
}
.t-answer-item:hover{
    background-color: aliceblue;
    cursor: pointer;
}

.t-question-test-container{
    margin-top: 20px;
}

@media (min-width: 992px) {
    .container {
        max-width: 660px;
    }
}

.video-container{
    padding: 60px;
}

@media (max-width: 600px) {
    .video-container{
        padding: 60px 0;
    }
    .video-container > iframe{
        width: fit-content;
    }
}

input[type="text"], input[type="email"] {
    width: 100%;
}

.results-preview-container{
    display: flex;
    align-items: baseline;
    margin: 40px 0;
}

.step1-container{
    display: block;
}
.step2-container{
    display: none;
}
.step3-container{
    display: none;
}
.step4-container{
    display: none;
}
#feedback-name-group{
    display: none;
}

.header {
    margin: 0 auto;
    width: 420px;
    justify-content: space-between;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 20px 0;
}

.header > div {
    flex-grow: 1;
}
.header > :nth-child(2) {
    flex-grow: 6;
}

.card {
    border-bottom: 0px;
}


.flag-icon {
    position: relative;
    display: inline-block;
    width: 1.33333333em;
    line-height: 1em;
}

.flag-icon, .flag-icon-background {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    width: 18px;
    height: 18px;
    vertical-align: sub;

}
.flag-icon-us {
    background-image: url('/img/us.svg');
}
.flag-icon-ru {
    background-image: url('/img/ru.svg');
}
.flag-icon-ua {
    background-image: url('/img/ua.svg');
}

.create-blocks-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 630px;
}
.create-online-test-block,
.create-online-questionnaire-block {
    width: 250px;
    box-shadow: 1px 1px 5px 1px #aeaeae;
    border-radius: 5px;
    padding: 20px;
}
.create-online-test-block:hover,
.create-online-questionnaire-block:hover {
    border: 1px solid #aeaeae;
    padding: 19px;
}
.create-online-test-block > .card-text,
.create-online-questionnaire-block > .card-text {
    padding-left: 22px;
    height: 100px;
    text-align: left;
    padding-top: 8px;
    font-size: 15px;
}